<!DOCTYPE HTML>
<html>
<head> 
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>  
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script> 
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">
window.onload = function () {
chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Sensor"
	},
	axisY: {
		title: "Resistance (KOhm)"
	},
	data: [{        
		type: "column",  
		showInLegend: false, 
		legendMarkerColor: "grey",
		dataPoints: [      
			{ y: 0,  label: "Sensor 0" },
		]
	}]
});
tick();
}

function tick() {
        d3.json("app/data", function(error, data) {
        	if (error) throw error;
		data.reverse();
  		chart.options.data[0].dataPoints.forEach(function(d){
			var i = d.x;
			var index = data.findIndex(v => v.id == i);
			if(index != -1)
				d.y = data[index].value;
		});
            });
            // Remove oldest data point from each group
            //for (var name in groups) {
            //    var group = groups[name]
            //    group.data.shift()
            //}
	chart.render();
	setTimeout(tick,100);
}

function addS() {
	var l = chart.options.data[0].dataPoints.length;
	chart.options.data[0].dataPoints.push({y: 0, label: "Sensor " + l});
	chart.render();
}
function remS(){
	if(chart.options.data[0].dataPoints.length > 1){
		chart.options.data[0].dataPoints.pop();
		chart.render();
	}	
}
</script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<button id="addSensor" style="position:absolute;right:0px;margin-right:10px;" onclick="addS()">+</button>
<button id="rmSensor" style="position:absolute;right:0px;margin-right:50px;" onclick="remS()">-</button>
</body>
</html>
